$font-stack:    Helvetica, calibri;
$primary-color: #333;
body {
  font: 100% $font-stack;
  color: $primary-color;
}
body {
  font: 100% Helvetica, calibri;
  color:#148f77;
  font-style:bold;
  font-size:14px;
}
.container {
  width: 500px;
  height:780px;
  margin:10px auto;
  padding:0px 70px;
  border:2px solid;
  border-color:black;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
  #div{
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}

